<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
      
      <%= image_tag "mario_pic.png", width: 300, height: 400  %>
      
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              aria-valuenow="<%= skill.percent_utilized %>"
              aria-valuemax="100"
              style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
          
        <% end %>
        </div>
      </div>
      
      <div class="col-md-8">
        <p>My name is Mario Rivero.</p>
        
        <p>
          <button 
            class="btn-btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#accomplishments"
            aria-expanded="false"
            aria-controller="accomplishments"
          >
            Accomplishments
          </button>
          
          <button 
            class="btn-btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#clubs"
            aria-expanded="false"
            aria-controller="clubs"
          >
            Clubs
          </button>
        </p>
        
        <p>
          <div class="collapse" id="accomplishments">
            <div class="card card-block">
            fasdfasdfasdfasdfasf
            </div>
            
          <div class="collapse" id="clubs">
            <div class="card card-block">
            fafasdfasf
            </div>
          </div>
        </p>
      </div>
    </div>  
  </div> 
</div>


