<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  
  <%= image_tag "http://i0.kym-cdn.com/entries/icons/original/000/019/991/1089353-paper_mario_wii.jpg", width: 300, height: 400, alt:"Paper Mario" %>
  </div>
  
  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>
</div>

