<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
      
      <%= image_tag "mario_pic.png", width: 175, height: 250  %>
      
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              aria-valuenow="<%= skill.percent_utilized %>"
              aria-valuemax="100"
              style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
          
        <% end %>
        </div>
      </div>
      
      <div class="col-md-8">
        <p>My name is Mario Rivero. I'm someone who is always willing to work hard and help anyone around me with patience. From a young age I've learned that I have to work hard in order to get things I want since nothing is ever handed down to you on a silver platter</p>
        </p>
        
        <p>
          <button 
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#accomplishments"
            aria-expanded="false"
            aria-controller="accomplishments"
          >
            Accomplishments
          </button>
          
          <button 
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#clubs"
            aria-expanded="false"
            aria-controller="clubs"
          >
            Clubs
          </button>

          <button 
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#apScores"
            aria-expanded="false"
            aria-controller="apScores"
          >
            Ap Scores
          </button>
        </p>
        
        <p>
          <div class="collapse" id="accomplishments">
            <div class="card card-block">
              <p>Earned Academic Letter in Math for school year 2016-17</p>
              <p>Earned Academic Letter in Social Studies for school year 2016-17</p>
              <p>Earned a scholarship for participating in Utah State Univeristy's engineering camp</p>
              <p>Maintained a 4.0 GPA for school year 2016-2017</p>
              <p>Earned a thousand-dollar scholarship for applying in Code To Success' program</p>
            </div>
          </div>
            
          <div class="collapse" id="clubs">
            <div class="card card-block">
              <p>Vice President of Roy High's branch of Future Business Leaders of America (FBLA)</p>
              <p>Member of Roy High's branch of Future Farmers of America (FFA)</p>
              <p>Member of Roy High's American Sign Language club (ASL Club)</p>
            </div>
          </div>
          
          <div class="collapse" id="apScores">
            <div class="card card-block">
              <p>Passed the Advanced Placemet World History Exam with a 3 in school year 2015-16</p>
              <p>Passed the Advanced Placemet United States History Exam with a 3 in school year 2016-17</p>
            </div>
          </div>
        </p>
      </div>
    </div>  
  </div> 
</div>