<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  
  <%= image_tag "mario_pic.png", width: 300, height: 400, alt:"Paper Mario" %>
  </div>
  
  <div class="col-md-8">
    <p>My name is Mario Rivero.</p>
  </div>
</div>

