<div class="inner cover">
 <h1 class="cover-heading">¡Bienvindeo!</h1>
 <p class="lead">Welcome to my Portfolio! Feel free to look through here if you wish to do so. If you want to know more about me, please click on the link below</p>
 <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
 </p>
</div>
